# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
.DS_Store
coverage
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache

# Cypress
/cypress/videos/
/cypress/screenshots/

# Vitest
__screenshots__/

# Vite
*.timestamp-*-*.mjs

# --- COSAS DE PYTHON Y BASE DE DATOS DEL SIO ---
# Entorno virtual
venv/
env/

# Archivos de caché de Python
__pycache__/
*.pyc

# Base de datos SQLite (¡MUY IMPORTANTE NO SUBIRLA!)
*.db
*.sqlite3

# Carpeta de compilación de Vue (opcional, pero recomendada para la rama principal)
dist/
